.header{

    text-align: center;
    background: linear-gradient(to right, #0d47a1, #8e24aa);
    border-style: inset;
    border-color:#8e758e;
    border-width: 0.2cm;
}

#logo{
    width: auto;
    height: 200px;
}

#imagen {
    width: 250px;
    height: 175px;
    background-size: cover;
    background-position: center;
    border-radius: 1cm;
    border-style: inset;
    border-color: #8e24aa;
    border-width: 0.2cm;

}

#retroceder{
    margin-right: 30px;
    border-radius: 2cm;
    border-style: inset;
    border-color: #8e24aa;
}

#avanzar{
    margin-left: 30px;
    border-radius: 2cm;
    border-style: inset;
    border-color: #8e24aa;
}


.carrusel{
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    justify-content: center; /* Centra los botones */
    align-items: center; /* Centra verticalmente */
}

.controles {
    text-align: center;
    margin-top: 20px;
    
}

button {
    padding: 10px 20px;
    margin: 5px;
    background-color: #8e758e;
    color: white;
    border: none;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

#play{
    border-radius: 2cm;
    border-style: inset;
    border-color: #8e24aa;
}


#stop{
    border-radius: 2cm;
    border-style: inset;
    border-color: #8e24aa;
}
body{
    margin: 0px;
}